<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key><string>ca.gshaw.nginx</string>
    <key>Program</key><string>/usr/local/sbin/nginx</string>
    <key>KeepAlive</key><dict><key>NetworkState</key><true/></dict>
    <key>StandardErrorPath</key><string>/var/log/system.log</string>
    <key>LaunchOnlyOnce</key><true/>
  </dict>
</plist>
<!--
Setup to launch nginx at startup:

sudo launchctl unload -w /System/Library/LaunchDaemons/ca.gshaw.nginx.plist
sudo cp ~/.dotfiles/launchd/ca.gshaw.nginx.plist /System/Library/LaunchDaemons
sudo launchctl load -w /System/Library/LaunchDaemons/ca.gshaw.nginx.plist
-->
