<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" \
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ca.gshaw.compost</string>
  <key>Program</key>
  <string>/Users/gerry/.dotfiles/oh-my-zsh/custom/plugins/gshaw/bin/compost</string>
  <key>StartCalendarInterval</key>
  <dict>
    <!-- run compost every day at 12:53 (hopefully at lunch) -->
    <key>Hour</key>
    <integer>12</integer>
    <key>Minute</key>
    <integer>53</integer>
  </dict>
</dict>
</plist>

<!--
Installation

gln -s ~/.dotfiles/launchd/ca.gshaw.compost.plist ~/Library/LaunchAgents/ca.gshaw.compost.plist
launchctl load -w ~/Library/LaunchAgents/ca.gshaw.compost.plist
-->
